// Animations
@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin slide-down($duration) {
  animation: slide-down $duration ease-in-out both;
}

.slide-down {
  @include slide-down(1s);
}

@mixin fade-in($duration) {
  animation: fade-in $duration ease-in-out both;
}

.hero__container--title {
  @include fade-in(3s);
}
