// Styling
@import "navbar";
@import "../animations/animations";
@import "queries";
// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800;900&display=swap");

// Font Variables
$font-stack: "Be Vietnam Pro", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: 100% $font-stack;
}

body {
  background: $white;
  min-width: 100%;
  margin: 0 auto;
  z-index: 1;
}
.container {
  margin: 0 auto;

  @include mobile {
    height: 100vh;
    width: 100%;
  }

  @include desktop {
    max-width: 1100px;
  }
}

.hero {
  height: 500px;
  display: flex;
  align-items: center;
}

/* The background image */
.bg-image {
  background: $olive;
  background-image: url("/images/hero_2x.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 5.9%;
}

// Hero container
.hero__container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  // Media Queries
  @include tablet {
    width: 100%;
    padding-left: 2em;
  }

  @include tablet-lg {
    margin-left: 20px;
  }

  @include desktop {
    margin-top: 100px;
  }

  // Title
  &--title {
    font-size: 2.1rem;
    color: $white;
    font-weight: bold;
    @include tablet {
      font-size: 1.5rem;
    }
  }

  // Hero Button
  &--btn {
    background-color: $black;
    color: $white;
    border: none;
    outline: none;
    padding: 1em;
    width: 140px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.8rem;

    &:hover {
      background: $white;
      color: $black;
      transition: all 0.3s ease;
    }
  }
}

// Form
.form {
  @extend %align-center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 20px;

  @include tablet {
    flex-direction: column;
    align-items: unset;
    margin: 0px 0px 24px 10px;
  }
  @include tablet-lg {
    margin: 10px 10px 24px 20px;
  }
}

// Form icons
.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.input-icons i {
  position: absolute;
  padding-top: 20px;
}

// Input container
.input-flex {
  display: flex;
  flex-direction: column;
  @include tablet {
    margin: 10px;
  }
}

// Form input
input {
  border: none;
  outline: none;
  border-bottom: 1.4px solid;
  padding-left: 30px;
  margin-right: 24px;
  margin-top: 15px;
  padding-bottom: 15px;

  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: 90%;
  }

  @include desktop {
    width: 130%;
  }
}

// Form labels
.location,
.people,
.nights {
  font-weight: 500;
}

// Search button
.search {
  background: $black;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  max-width: 0 auto;
  cursor: pointer;

  @include tablet {
    width: 90%;
    border-radius: 10px;
    margin-top: 20px;
  }
}

// Search icon
.fa-magnifying-glass {
  color: $white;
  font-size: 0.8rem;
}

// Popular locations
.holiday {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 60px;
  background-color: $dark;
  padding-top: 10px;
  padding-bottom: 50px;
  @include tablet {
    width: 95%;
  }
  @include desktop {
    border: 0.4em solid $sand;
  }

  &__heading {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: $white;
    padding-bottom: 30px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;

  &__item {
    display: flex;
    @include desktop {
      padding: 1rem;
    }
  }
}

.cards__item {
  @include mobile {
    width: 100%;
    margin: 0 auto;
  }
  @include tablet {
    width: 100%;

    margin: 0 auto;
    margin-bottom: 20px;
  }
  @include tablet-lg {
    width: 33.3333%;
  }
  @include desktop {
    width: 33.3333%;
  }
}

.card {
  background-color: $sand;
  border-radius: 0.25em;
  box-shadow: 0 20px 40px -14px rgba(245, 240, 240, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include tablet {
    width: 53%;
    margin: 0 auto;
  }

  @include tablet-lg {
    margin: 5px;
  }

  @include desktop {
    border: 2px solid $sand;
    transition: transform 0.2s;

    &:hover {
      -ms-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }

  &__content {
    padding: 1em;
    background: linear-gradient(to bottom left, $forest 40%, $olive 100%);
  }

  &__image {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    align-items: center;
    display: flex;
  }

  &__title {
    color: $white;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 10px;
  }

  &__text {
    color: $white;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1em;
    font-weight: 400;
  }
}
